
.slide img
{
    height: 700px;
    margin-top: 30px;
    border-radius: 10px;
}

.banner-end
{
    margin-top: 50px;
}

.banner-end img
{
    width: 100%;
}
.banner-text
{
    margin-left: 20px;
    margin-top: 130px;
}
.banner-text h2
{
    font-size: 30px;
    font-weight: 700;
    color: #202C45;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.banner-text p
{
    font-size: 14px;
}

.upload
{
    margin: 150px 0;
}
.up-text h1
{
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 1.5px;
}
.up-text p
{
    font-size: 14px;
    color: rgb(143, 143, 143);
    padding-bottom: 10px;
}
.up-text button
{
    padding: 5px 25px;
    border: 1px solid black;
    background: none;
    transition: .6s;
}
.up-text button:hover
{
    background-color: black;
    color: white;
}

.text-pix .img img
{
    width: 100%;
    height: 250px;
}
.text-pix .text
{
    margin-top: 10px;
    padding-left: 10px;
}
.text-pix .text h4
{
    color: rgb(100, 99, 99);
    text-transform: uppercase;
    font-size: 18px;
}

.text-pix .text p
{
    color: black;
    font-size: 13px;
    font-weight: 500;
}

@media screen and (max-width:576px) {
    .slide img
    {
        height: 300px;
    }
    .slide-text
    {
        font-size: 10px;
    }
    .banner-text{
        margin-top: 10px;
    }

    .banner-text h2
        {
            font-size: 20px;
            font-weight: 700;
            color: #202C45;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .banner-text p
        {
            font-size: 12px;
        }   

        .upload
        {
            margin: 80px 0;
        }
        .text-pix
        {
            margin-top: 20px;
        }
}